form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #FAF9F7;
	input {
		margin-bottom: 1em;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		box-sizing: border-box;
		border-radius: 4px;
		width: 90%;
		height: 48px;
		&[type="submit"] {
			background: #00A870;
			border-radius: 4px;

			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #FFFFFF;
		}
	}
  hr {
		border: 2px solid #DFDFDF;
		text-align: center;
		width: 90%;
		margin-top: 50px;
	}
}