@import '../../styles/global';

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	h1 {
		@include default-text;
		font-size: 28px;
		width: 70%;
		margin-top: 3rem
	}
	p {
		@include default-text;
		line-height: 28px;
		font-size: 16px;
		width: 90%;
	}
	div {
		margin-top: 4rem;
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			@include default-text;
			font-size: 16px;
			line-height: 24px;
			text-decoration-line: underline;
		}
	}
  background-image: url('../../assets/images/hero-background.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
	background-size: cover;
	height: 540px;
}