$title: red;

$fontPrincipal: 'Inter';

@mixin centralize {
  margin-left: auto;
  margin-right: auto;
}

@mixin default-text {
  font-family: Inter;
	font-style: normal;
  font-weight: 500;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@mixin paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #3D3D3D;
}

@mixin link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #5E20A4;
}